# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and local data
*.log
*.sqlite3

# Python environment
*.env
.env
